<p>Bonjour <%= @user.name %>,</p>

<p>Bienvenue sur <strong>Questonaut</strong> !</p>

<p>Nous sommes ravis de te compter parmi les nouveaux explorateurs.</p>

<p>À très vite,<br>
L’équipe Questonaut</p>
