<% if resource.errors.any? %>
  <div id="error_explanation" class="auth-error" data-turbo-temporary>
    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.attribute == :terms_accepted ? error.message : error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
