<p style="color: green"><%= notice %></p>

<% content_for :title, "User badges" %>

<h1>User badges</h1>

<div id="user_badges">
  <% @user_badges.each do |user_badge| %>
    <%= render user_badge %>
    <p>
      <%= link_to "Show this user badge", user_badge %>
    </p>
  <% end %>
</div>

<%= link_to "New user badge", new_user_badge_path %>
