<div id="<%= dom_id badge %>">
  <p>
    <strong>Name:</strong>
    <%= badge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= badge.description %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= badge.icon %>
  </p>

</div>
