<div id="<%= dom_id habit_log %>">
  <p>
    <strong>Date:</strong>
    <%= habit_log.date %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= habit_log.completed %>
  </p>

  <p>
    <strong>Habit:</strong>
    <%= habit_log.habit_id %>
  </p>

</div>
