<div id="<%= dom_id habit_log %>">
  <p>
    <strong>Validated on:</strong>
    <%= habit_log.validated_on %>
  </p>

  <p>
    <strong>Streak days:</strong>
    <%= habit_log.streak_days %>
  </p>

  <p>
    <strong>Habit:</strong>
    <%= habit_log.habit_id %>
  </p>

</div>
