<p style="color: green"><%= notice %></p>

<% content_for :title, "Habit logs" %>

<h1>Habit logs</h1>

<div id="habit_logs">
  <% @habit_logs.each do |habit_log| %>
    <%= render habit_log %>
    <p>
      <%= link_to "Show this habit log", habit_habit_log_path(habit_log.habit, habit_log) %>
    </p>
  <% end %>
</div>

<%= link_to "Back to dashboard", dashboard_path %>
