<p style="color: green"><%= notice %></p>

<%= render @habit_log %>

<div>
  <%= link_to "Back to habit logs", habit_habit_logs_path(@habit_log.habit) %>

  <%= button_to "Destroy this habit log",
                habit_habit_log_path(@habit_log.habit, @habit_log),
                method: :delete %>
</div>
